<!DOCTYPE html>
<html ng-app="listaTelefonica">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
    <script src="lib/angular/angular.js" type="text/javascript"></script>
    <script src="lib/angular/angular-messages.js" type="text/javascript"></script>
    <script src="lib/angular/angular-locale_pt-br.js" type="text/javascript"></script>
    <script src="dom.js" type="text/javascript"></script>
    <title>Lista Telefônica</title>
  </head>
  <body ng-controller="listaTelefonicaCtrl">
    <section class="container-fluid">
      <div class="row justify-content-center">
        <div class="jumbotron col-xs-12 col-sm-12 col-md-8 col-lg-6">
          <h4 class="text-center" ng-bind="app"></h4>
          <input class="form-control" type="text" ng-model="busca" placeholder="Pesquisar"/>
          <table class="table table-striped" ng-if="contatos.length > 0">
            <thead>
              <tr>
                <th></th>
                <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
                <th><a href="" ng-click="ordenarPor('operadora')">Operadora</a></th>
                <th><a href="" ng-click="ordenarPor('data')">Data</a></th>
              </tr>
            </thead>

            <tbody>
              <tr ng-class="{'bg-warning font-weight-bold': contato.selecionado}" ng-repeat="contato in contatos | filter:busca | orderBy: ordenacao: direcao">
                <td><input type="checkbox" ng-model="contato.selecionado" ng-change="checkChanged(contato)" ng-disabled="checked == limit && !contato.selecionado"/></td>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
                <td>{{contato.data | date: 'dd/MM/yyyy HH:mm'}}</td>
              </tr>
            </tbody>
          </table>
          <hr/>

          <form name="contatoForm">
            <div class="form-group">
              <input class="form-control" type="text" name="nome" ng-model="contato.nome" placeholder="Nome" ng-required="true" ng-minlength="10"/>
            </div>

            <div class="form-group">
              <input class="form-control" type="text" name="telefone" ng-model="contato.telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
            </div>

            <div class="form-group">
              <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' ( ' + (operadora.precoMinuto | currency) + ' ) ' for operadora in operadoras | orderBy:'nome'">
                <option value="">Selecione Operadora</option>
              </select>
            </div>

            <div  class="alert alert-danger text-center" ng-messages="contatoForm.nome.$error">
              <div ng-message="required">
                <h4>Preencha o campo Nome!</h4>
              </div>

              <div ng-message="minlength">
                <h4>O campo nome deve conter no mínimo 10 caracteres</h4>
              </div>
            </div>

            <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.dirty" class="alert alert-danger text-center">
              <h4>Preencha o campo Telefone!</h4>
            </div>

            <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger text-center">
              <h4>O campo telefone deve ter o formato DDDD-DDDD</h4>
            </div>

            <div class="form-group">
              <button class="btn btn-success form-control" type="button" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar</button>
            </div>

            <div class="form-group">
              <button class="btn btn-danger form-control" type="button" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
